$mainFont : "Arial";
$bg-color-1: #DADBE6;
$bg-color-2: #F0F1F7;
$bg-color-3: #F7ECEB;
$font-color: #707070;
$font-color-1: #545871;
$font-color-2: #9597A6;
$font-color-3: #B8817D;
$shadow-color: #bbbbbb;
$hover-font-color: white;
$hover-bg-color: black;

$font-size-l: 18px;
$font-size-m: 12px;
$font-size-s: 10px;

$navbar-height: 3rem;
$navbar-width: 3rem;

@media (max-width: 480px) {
  html {
    font-size: $font-size-s;
  }
}
@media (max-width: 720px) {
  html {
    font-size: $font-size-m;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: $font-size-l;
  }
}

body{
  margin: 0;
}

a{
  color: $font-color-2;
  &:link{
    text-decoration: none;
  }
}

input{
  margin: 0.5rem 0rem;
  width: 100%;
  height: 1.5rem;
  font-size: inherit;
  border-radius: 0.2rem;
}

button{
  margin-right: 0.5rem;
  padding: 0.3rem;
  font-size: inherit;
  color: $font-color;
  background-color: white;
  border-radius: 0.2rem;

  &.scroll{
    display:scroll;
    position:fixed;
    bottom:1rem;
    right:1rem;
  }

  &:hover{
    opacity: 0.5;
  }
}

.side{
  flex:2;
  height: 100vh;
  overflow: scroll;
  background-color: $bg-color-2;
  -webkit-overflow-scrolling: touch;
}

.content{
  flex:9;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

}

.header{
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  font-family: $mainFont;
  letter-spacing: 0.1rem;
}

.right{
  justify-content: flex-end;
}

/* $panel; */
.panel{
  display: flex;
  flex: 1;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  color: $font-color-1;
  border-radius: 10px;
  border: solid 1px $bg-color-1;
  /*-webkit-box-shadow: 0 0 1.2rem $shadow-color;
	-moz-box-shadow: 0 0 1.2rem $shadow-color;
	box-shadow: 0 0 1.2rem $shadow-color;*/

  svg{
    color: $font-color-3;
  }
}

.panel-container{
  flex:1;
  padding: 0.5rem;
  margin: 0.1rem;
  word-break:     break-word;
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  hyphens: none;
}

.panel-note-container{
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  border: solid 1px #E6DBDA;
  border-radius: 5px;
  background-color: $bg-color-3;
}

.panel-note-list{
  display: flex;
  margin: 1rem 0rem;
}

.panel-note-list-title{
  flex: 1;
  font-weight:bold;
}

.panel-note-list-text{
  flex: 9;
  margin-left: 1rem;
}

.text-l{
  font-size: 1.2rem;
}

.text-m{
  font-size: 1rem;
}

.text-s{
  font-size: 0.8rem;
}

.img{
  max-width:100%;
  border-radius: 5px;
}

.img-l{
  width: 100%;
  height: 18rem;
}

.img-s{
  width:18%;
  height: 3.5rem;
}

.img-thumb{
  display: flex;
  width: inherit;
}

/* $schedule */
.schedule{
  display: flex;
  margin: 1rem 2rem;
  flex-direction: column;
  margin-top: 2rem;
  border-left: solid 0.1rem $font-color-2;
}

.schedule-day{
  margin-bottom: 3rem;
  padding: 0.2rem;
  background-color: gray;
  color: white;
  text-align: center;
}

.schedule-header{
  display: flex;
  flex-direction: row;
  margin-left: -0.55rem;
}

.schedule-title{
  display: flex;
  align-items: center;
  color: $font-color-2;
  font-size: 1rem;
  cursor: pointer;
  &:hover{
    font-weight: bold;
  }
}

.dot{
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1rem;
  content:"\A";
  width:1rem;
  height:1rem;
  border-radius:50%;
  /*border: solid $font-color;*/
  background: #9597A6;
}

.schedule-content{
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 0.8rem;
}

/* $navbar */
/*.navbar{
  width : 100vw;
  height: $navbar-height;
  background-color: black;
  line-height: 3rem;
  text-align: right;
  border-top: 0;
}*/

.navbar{
  margin: 0;
  width: $navbar-width;
  height: 100vh;
  background-color: $bg-color-1;
}

.navbar-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: $navbar-width;
  height: $navbar-width;

  color: $font-color;
  cursor: pointer;

  span{
    display: flex;
    align-items: center;
    svg{
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &.active{
    background-color: white;
  }
}

.navbar-s{
  display:none;
}

/* $modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.5rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  &:hover, &:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal-header {
  padding: 0.5rem 1rem;
  background-color:black;
  color: white;
  border-radius: 0.5rem 0.5rem 0 0rem;
}

.modal-body {
  padding: 0.5rem 1rem;
  height: 100vh * 0.65;
  overflow: scroll;
}

.modal-footer {
  padding: 0.5rem 1rem;
  background-color:black;
  color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}

/* $table */

.tb-header{
  flex: 1;
  padding: 1rem;
  color: $font-color;
  background-color: $bg-color-1;
}

.tb-col{
  flex: 7;
  padding: 1rem;
  line-height: 1.5rem;
}

.list{
  padding: 0.2rem;
  &:hover{
    color: $hover-font-color;
    background-color: $hover-bg-color;
  }
}

.block{
  margin: 0.5rem;
  border: solid 1px black;
}

/* $tooltip
From Envato Tuts+
CodePen: https://codepen.io/tutsplus/pen/WROvdG
*/

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 15px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 15px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
